body {
    --bookshelf--ui--input--height: var(--input-height);
    --bookshelf--ui--input--border-radius: var(--input-radius);
    --bookshelf--ui--input--border-width: var(--input-border-width);
    --bookshelf--ui--input--font-weight: var(--input-font-weight);
    --bookshelf--ui--input--padding: var(--size-4-1) var(--size-4-2);

    --bookshelf--ui--button--height: var(--input-height);
    --bookshelf--ui--button--border-radius: var(--button-radius);
    --bookshelf--ui--button--border-width: 0;
    --bookshelf--ui--button--box-shadow: var(--input-shadow);
    --bookshelf--ui--button--font-weight: inherit;
    --bookshelf--ui--button--background: var(--interactive-normal);
    --bookshelf--ui--button--padding: var(--size-4-1) var(--size-4-3);
    --bookshelf--ui--button--hover--background: var(--interactive-hover);
    --bookshelf--ui--button--hover--box-shadow: var(--input-shadow-hover);

    --bookshelf--ui--dropdown--height: var(--input-height);
    --bookshelf--ui--dropdown--border-color: var(--background-modifier-border);
    --bookshelf--ui--dropdown--border-radius: var(--input-radius);
    --bookshelf--ui--dropdown--border-width: 0;
    --bookshelf--ui--dropdown--font-weight: var(--input-font-weight);
    --bookshelf--ui--dropdown--box-shadow: var(--input-shadow);
    --bookshelf--ui--dropdown--background: var(--dropdown-background);
    --bookshelf--ui--dropdown--background-blend-mode: var(--dropdown-background-blend-mode);
    --bookshelf--ui--dropdown--background-hover: var(--dropdown-background-hover);
    --bookshelf--ui--dropdown--background-position: var(--dropdown-background-position);
    --bookshelf--ui--dropdown--background-size: var(--dropdown-background-size);
    --bookshelf--ui--dropdown--padding: var(--dropdown-padding);

    --bookshelf--text--color-dimmed: var(--text-faint);

    --bookshelf--library--header-background: var(--background-primary);
    --bookshelf--library--header-padding: var(--size-4-3);

    --bookshelf--gallery-card--background-color: var(--background-primary-alt);
    --bookshelf--gallery-card--shadow: var(--shadow-s);
}

button.bookshelf--ui--button {
    display: block;
    appearance: none;
    height: var(--bookshelf--ui--button--height);
    border-radius: var(--bookshelf--ui--button--border-radius);
    border-width: var(--bookshelf--ui--button--border-width);
    box-shadow: var(--bookshelf--ui--button--box-shadow);
    font-weight: var(--bookshelf--ui--button--font-weight);
    background-color: var(--bookshelf--ui--button--background);
    padding: var(--bookshelf--ui--button--padding);
}

button.bookshelf--ui--button:hover {
    background-color: var(--bookshelf--ui--button--hover--background);
    box-shadow: var(--bookshelf--ui--button--hover--box-shadow);
}

select.bookshelf--ui--dropdown {
    display: block;
    appearance: none;
    height: var(--bookshelf--ui--dropdown--height);
    border-radius: var(--bookshelf--ui--dropdown--border-radius);
    border-width: var(--bookshelf--ui--dropdown--border-width);
    box-shadow: var(--bookshelf--ui--dropdown--box-shadow);
    font-weight: var(--bookshelf--ui--dropdown--font-weight);
    background-color: var(--bookshelf--ui--dropdown--background);
    background-blend-mode: var(--bookshelf--ui--dropdown--background-blend-mode);
    background-size: var(--bookshelf--ui--dropdown--background-size);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' opacity='0.9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Cpath d='m7 15 5 5 5-5'/%3E%3Cpath d='m7 9 5-5 5 5'/%3E%3C/svg%3E");
    background-position: var(--bookshelf--ui--dropdown--background-position);
    background-repeat: no-repeat;
    padding: var(--bookshelf--ui--dropdown--padding);
}

input.bookshelf--ui--input {
    height: var(--bookshelf--ui--input--height);
    border-style: solid;
    border-radius: var(--bookshelf--ui--input--border-radius);
    border-width: var(--bookshelf--ui--input--border-width);
    border-color: var(--bookshelf--ui--dropdown--border-color);
    font-weight: var(--bookshelf--ui--input--font-weight);
    padding: var(--bookshelf--ui--input--padding);
}

.bookshelf--gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-gap: 15px;
    justify-content: center;
}

.bookshelf--gallery--card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1/1.25;
    background-color: var(--bookshelf--gallery-card--background-color);
    padding: 10px;
    box-shadow: var(--bookshelf--gallery-card--shadow);
    box-sizing: border-box;
}

.bookshelf--gallery--card img {
    display: block;
    width: 100%;
}

.bookshelf--gallery--card .fallback-cover {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

.bookshelf--gallery--card .title {
    display: block;
    font-weight: bold;
    text-align: center;
    overflow-wrap: break-word;
    cursor: default;
}

.bookshelf--gallery--card .overlay {
    display: none;
    flex-flow: column;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgb(from var(--bookshelf--gallery-card--background-color) r g b / 0.8);
    box-sizing: border-box;
}

.bookshelf--gallery--card:hover .overlay {
    display: flex;
}

.bookshelf--ui--star-rating {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.bookshelf--ui--star-rating .bookshelf--ui--star-rating--star {
    overflow: hidden;
}

table.bookshelf--book-table {
    width: 100%;
    border-collapse: collapse;
}

table.bookshelf--book-table td,
table.bookshelf--book-table th {
    vertical-align: top;
    padding: 0.25rem 0.5rem;
    text-align: left;
}

table.bookshelf--book-table td {
    border-top: 1px solid var(--divider-color);
}

.bookshelf--library--header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bookshelf--library--header-background);
    z-index: 9999;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--size-4-3);
    padding: var(--bookshelf--library--header-padding);
}

.bookshelf--library--header--left {
    display: flex;
    flex-direction: row;
    gap: var(--size-4-3);
}

.bookshelf--library--content {
    padding: 20px 10px;
}

.bookshelf--library--message-container {
    text-align: center;
    margin-top: 20px;
}

.bookshelf--library--message-container p {
    font-style: italic;
    color: var(--bookshelf--text--color-dimmed);
}

.bookshelf--statistics .container {
    max-width: 1080px;
    margin: 0 auto 4rem auto;
    padding: 0 2rem;
}

.bookshelf--statistics h2 {
    text-align: center;
}

.bookshelf--statistics .counts {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 5rem;
}

.bookshelf--statistics .counts div {
    text-align: center;
}

.bookshelf--statistics .counts .number {
    font-size: 3rem;
}

.bookshelf--book-details .top {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.bookshelf--book-details .cover {
    width: 25%;
    aspect-ratio: 1/1.25;
}

.bookshelf--book-details .cover img {
    width: 100%;
}

.bookshelf--book-details .details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.bookshelf--book-details .metadata {
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bookshelf--book-details .metadata li {
    padding: 2px;
}

.bookshelf--book-details .actions {
    display: flex;
    justify-content: flex-end;
}

.bookshelf--book-details .rating {
    display: inline-block;
}

.bookshelf--book-details .reading-journey {
    position: relative;
    padding-left: 1rem;
    list-style: none;
}

.bookshelf--book-details .reading-journey li {
    position: relative;
    padding-left: 1rem;
    border-left: 2px solid var(--color-base-100);
    font-size: var(--font-ui-small);
    padding-bottom: 0.75rem;
    line-height: 1;
}

.bookshelf--book-details .reading-journey li:last-child {
    padding-bottom: 0;
}

.bookshelf--book-details .reading-journey li:before {
    content: ' ';
    position: absolute;
    left: -8px;
    width: 8px;
    height: 8px;
    border: 3px solid var(--color-base-100);
    border-radius: 100%;
    background-color: var(--color-base-00);
}
