.statistics {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1080px;
    margin: 0 auto;
}

.halfWidth {
    width: 100%;

    @media (width > 960px) {
        width: calc(50% - 1rem);
    }
}
