.controls {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0 2rem 0 2rem;
}

.statistics {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1080px;
    margin: 0 auto;

    .container,
    .smallContainer {
        width: 100%;
        padding: 1rem 2rem 2rem 2rem;
        background-color: var(--color-base-10);
        border: 1px solid var(--color-base-20);
        border-radius: 6px;
    }

    .smallContainer {
        @media (width > 960px) {
            width: calc(50% - 1rem);
        }
    }

    h2 {
        text-align: center;
        margin-bottom: 2rem;
        color: var(--color-base-60);
    }

    .counts {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 5rem;

        div {
            text-align: center;
        }

        .number {
            font-size: 3rem;
            line-height: 3.5rem;
        }
    }
}
