body {
    --bookshelf--ui--button--height: var(--input-height);
    --bookshelf--ui--button--border-radius: var(--button-radius);
    --bookshelf--ui--button--border-width: 0;
    --bookshelf--ui--button--box-shadow: var(--input-shadow);
    --bookshelf--ui--button--font-weight: inherit;
    --bookshelf--ui--button--background: var(--interactive-normal);
    --bookshelf--ui--button--padding: var(--size-4-1) var(--size-4-3);
    --bookshelf--ui--button--hover--background: var(--interactive-hover);
    --bookshelf--ui--button--hover--box-shadow: var(--input-shadow-hover);
}

button.button {
    display: block;
    appearance: none;
    height: var(--bookshelf--ui--button--height);
    border-radius: var(--bookshelf--ui--button--border-radius);
    border-width: var(--bookshelf--ui--button--border-width);
    box-shadow: var(--bookshelf--ui--button--box-shadow);
    font-weight: var(--bookshelf--ui--button--font-weight);
    padding: var(--bookshelf--ui--button--padding);

    &:hover {
        box-shadow: var(--bookshelf--ui--button--hover--box-shadow);
    }

    &.regular {
        color: var(--text-normal);
        background-color: var(--interactive-normal);

        &:hover {
            background-color: var(--interactive-hover);
        }
    }

    &.accent {
        color: var(--text-on-accent);
        background-color: var(--interactive-accent);

        &:hover {
            background-color: var(--interactive-accent-hover);
        }
    }
}
