body {
    --bookshelf--library--header--background: var(--background-primary);
    --bookshelf--library--header--padding: var(--size-4-3);
}

.library {
    .header {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--bookshelf--library--header--background);
        z-index: 9999;
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--size-4-3);
        padding: var(--bookshelf--library--header--padding);

        .left {
            display: flex;
            flex-direction: row;
            gap: var(--size-4-3);
        }
    }

    .content {
        padding: 1rem;
    }
}

.bookCount {
    font-size: var(--font-smallest);
    margin-bottom: 1rem;

    @media (max-width: 640px) {
        text-align: center;
    }
}

.group {
    margin-bottom: 4rem;

    .groupHeading {
        margin-block-start: 2rem;
        margin-block-end: 2rem;

        h2 {
            padding-block-end: 0.25rem;
            margin: 0;
            margin-block-end: 0.5rem;
            border-bottom: 1px solid var(--divider-color);
        }

        .booksInGroup {
            color: var(--color-base-60);
            font-size: var(--font-smallest);
        }
    }
}

.mobileNavigation {
    width: 100%;

    .searchBar {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;

        input {
            width: 100%;
            flex-grow: 1;
        }
    }

    .mobileNavigationFilters {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }
}

.messageContainer {
    text-align: center;
    margin-top: 20px;

    p {
        font-style: italic;
        color: var(--text-faint);
    }
}
