body {
    --bookshelf--ui--dropdown--height: var(--input-height);
    --bookshelf--ui--dropdown--border-color: var(--background-modifier-border);
    --bookshelf--ui--dropdown--border-radius: var(--input-radius);
    --bookshelf--ui--dropdown--border-width: 0;
    --bookshelf--ui--dropdown--font-weight: var(--input-font-weight);
    --bookshelf--ui--dropdown--box-shadow: var(--input-shadow);
    --bookshelf--ui--dropdown--background: var(--dropdown-background);
    --bookshelf--ui--dropdown--background-blend-mode: var(--dropdown-background-blend-mode);
    --bookshelf--ui--dropdown--background-hover: var(--dropdown-background-hover);
    --bookshelf--ui--dropdown--background-position: var(--dropdown-background-position);
    --bookshelf--ui--dropdown--background-size: var(--dropdown-background-size);
    --bookshelf--ui--dropdown--padding: var(--dropdown-padding);
}

.dropdown {
    display: block;
    appearance: none;
    height: var(--bookshelf--ui--dropdown--height);
    border-radius: var(--bookshelf--ui--dropdown--border-radius);
    border-width: var(--bookshelf--ui--dropdown--border-width);
    box-shadow: var(--bookshelf--ui--dropdown--box-shadow);
    font-weight: var(--bookshelf--ui--dropdown--font-weight);
    background-color: var(--bookshelf--ui--dropdown--background);
    background-blend-mode: var(--bookshelf--ui--dropdown--background-blend-mode);
    background-size: var(--bookshelf--ui--dropdown--background-size);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' opacity='0.9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Cpath d='m7 15 5 5 5-5'/%3E%3Cpath d='m7 9 5-5 5 5'/%3E%3C/svg%3E");
    background-position: var(--bookshelf--ui--dropdown--background-position);
    background-repeat: no-repeat;
    padding: var(--bookshelf--ui--dropdown--padding);
}
