.dropdown {
    display: block;
    appearance: none;
    height: var(--bookshelf--ui--dropdown--height);
    border-radius: var(--bookshelf--ui--dropdown--border-radius);
    border-width: var(--bookshelf--ui--dropdown--border-width);
    box-shadow: var(--bookshelf--ui--dropdown--box-shadow);
    font-weight: var(--bookshelf--ui--dropdown--font-weight);
    background-color: var(--bookshelf--ui--dropdown--background);
    background-blend-mode: var(--bookshelf--ui--dropdown--background-blend-mode);
    background-size: var(--bookshelf--ui--dropdown--background-size);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' opacity='0.9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Cpath d='m7 15 5 5 5-5'/%3E%3Cpath d='m7 9 5-5 5 5'/%3E%3C/svg%3E");
    background-position: var(--bookshelf--ui--dropdown--background-position);
    background-repeat: no-repeat;
    padding: var(--bookshelf--ui--dropdown--padding);
}
