.bookTable {
    width: 100%;
    border-collapse: collapse;

    .groupHeading {
        td {
            border: none;
        }

        &:not(:first-child) td {
            padding-top: 4rem;
        }
    }

    td,
    th {
        vertical-align: top;
        padding: 0.25rem 0.5rem;
        text-align: start;
    }

    td {
        border-top: 1px solid var(--divider-color);
    }

    .pubDate,
    .pages,
    .duration {
        text-align: end;
    }

    .progress {
        min-width: 100px;
    }
}
