.group {
    margin-bottom: 4rem;

    .groupHeading {
        margin-block-start: 2rem;
        margin-block-end: 2rem;

        h2 {
            padding-block-end: 0.25rem;
            margin: 0;
            margin-block-end: 0.5rem;
            border-bottom: 1px solid var(--divider-color);
        }

        &.fallbackGroup h2 {
            font-style: italic;
        }

        .booksInGroup {
            color: var(--color-base-60);
            font-size: var(--font-smallest);
        }
    }
}
