.bookDetails {
    .top {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .cover {
        width: 25%;
        aspect-ratio: 1/1.25;

        img {
            width: 100%;
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .title {
        font-size: var(--font-ui-large);
        font-weight: var(--font-bold);
    }

    .openNote {
        display: inline-block;
        margin-left: 0.25rem;
        vertical-align: middle;

        svg {
            color: var(--color-base-70);
        }

        &:hover svg {
            color: var(--color-base-100);
        }
    }

    .authors {
    }

    .pagesAndDate {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0.25rem;
        margin-top: 0.5rem;
        font-size: var(--font-ui-small);

        > * + *:before {
            content: '·';
            margin-right: 0.25rem;
        }
    }

    .tags {
        margin: 0.5rem 0 0 0;
    }

    .readingJourney {
        position: relative;
        padding-left: 1rem;
        list-style: none;

        li {
            position: relative;
            padding-left: 1rem;
            border-left: 2px solid var(--color-base-100);
            font-size: var(--font-ui-small);
            padding-bottom: 0.75rem;
            line-height: 1;

            &:last-child {
                padding-bottom: 0;
            }

            &:before {
                content: ' ';
                position: absolute;
                left: -8px;
                width: 8px;
                height: 8px;
                border: 3px solid var(--color-base-100);
                border-radius: 100%;
                background-color: var(--color-base-00);
            }
        }
    }
}
