body {
    --bookshelf--ui--input--height: var(--input-height);
    --bookshelf--ui--input--border-radius: var(--input-radius);
    --bookshelf--ui--input--border-width: var(--input-border-width);
    --bookshelf--ui--input--font-weight: var(--input-font-weight);
    --bookshelf--ui--input--padding: var(--size-4-1) var(--size-4-2);
}

input.input {
    -webkit-appearance: none;
    height: var(--bookshelf--ui--input--height);
    border-style: solid;
    border-radius: var(--bookshelf--ui--input--border-radius);
    border-width: var(--bookshelf--ui--input--border-width);
    border-color: var(--bookshelf--ui--dropdown--border-color);
    font-weight: var(--bookshelf--ui--input--font-weight);
    padding: var(--bookshelf--ui--input--padding);
    box-sizing: border-box;

    &.error {
        color: var(--text-error);
        border-color: var(--background-modifier-error);
    }
}
