.bookTable {
    width: 100%;
    border-collapse: collapse;

    td,
    th {
        vertical-align: top;
        padding: 0.25rem 0.5rem;
        text-align: start;
    }

    td {
        border-top: 1px solid var(--divider-color);
    }

    .pubDate,
    .pages,
    .duration {
        text-align: end;
    }
}
