.fallbackCover {
    aspect-ratio: 1 / 1.35;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    background-color: #000;
    color: #fff;
}
